.ship_status .icon{
    object-fit: contain;
    width: 10rem;
    height: 5rem;
    
}
.ship_status .status{
    object-fit: contain;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content
}


.ship_status {
    display: flex;
    align-items: center;
}
.status .status_icon {
    width: 2rem;
    height: 2rem;
}