#root {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
 @media (max-width: 900px) {
    #root {
        flex-direction: column;
    }
 }